@using BitStoreWeb.Endpoints.Buckets
@using BitStoreWeb.Endpoints.Examples
@using BitStoreWeb.Endpoints.HowTo
@using FubuMVC.Core.Urls
@using System

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
	    <title>BitStore</title>
        @*<link href="/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />*@
		<link href="/Content/bootstrap.min.css" rel="stylesheet">
		<link href="/Content/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="/Content/Site.css" rel="stylesheet" type="text/css" />
		<link href="/Content/simplePagination.css" rel="stylesheet" />
        <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <script src="/Scripts/jquery-1.7.1.min.js"></script>
        <script src="/Scripts/jquery-ui-1.8.20.js"></script>
        <script src="/Scripts/modernizr-2.5.3.js"></script>
		<script src="/Scripts/script.js" type="text/javascript"></script>
		<script src="/Scripts/sh_main.min.js" type="text/javascript"></script>
		<script src="/Scripts/sh_javascript_dom.min.js" type="text/javascript"></script>
		<script src="/Scripts/bootstrap.min.js" type="text/javascript"></script>
		<script src="/Scripts/jquery.simplePagination.js" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body onload="sh_highlightDocument();">
		<div class="container">
			@*<div class="row">
				<div class="span5 pull-right" style="margin-right:-52px;">
					<form method="get" action="/" class="form-inline" >
						<input name="q" class="span2" type="text"  placeholder="email" >
						<input name="loc" class="span2" type="text"  placeholder="password">
						<button type="submit" class="btn btn-info"> <i class="icon-lock icon-white"></i></button>
					</form>
				</div>
			</div>*@
			<section id="login">
			@*	@if (WebSecurity.IsAuthenticated) {
					<text>
						Hello, <a class="email" href="/Account/Manage" title="Manage">@WebSecurity.CurrentUserName</a>!
						<form id="logoutForm" action="/Account/Logout" method="post">
							@AntiForgery.GetHtml()
							<a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
						</form>
					</text>
				}*@
			</section>
			<div class="navbar">
				<div class="navbar-inner">
					<div class="container">
						<ul class="nav">
							<li class="active"><a href="/" class="menu-start">Home</a></li>
							<li><a href="@(Urls.UrlFor<BucketsInputModel>())" target="_self">Buckets</a></li>
							<li><a href="@(Urls.UrlFor<HowToInputModel>())" target="_self">How to use</a></li>
							<li><a href="@(Urls.UrlFor<ExamplesInputModel>())" target="_self">Examples</a></li>
							<li><a href="https://github.com/mrcheng/BitStore/" target="_self">GitHub</a></li>
						</ul>
					</div>
				</div>
			</div><!-- /.navbar -->

			@RenderBody()
			<hr>
			<footer>
				<div class="pull-left">
					<p>&copy; @System.DateTime.Now.Year - MrC Collective</p>
				</div>
			</footer>
			@*@RenderSection("Scripts", required: false)*@
		</div><!--closes container-->
    </body>
</html>